
[submodule "axpert_cmd"]
	path = axpert_cmd
	url = https://github.com/MindFreeze/axpert_cmd.git

[submodule "hassio-axpert"]
	path = hassio-axpert
	url = https://github.com/Faun78/hassio-axpert
	branch = main
